# TEMPORARY: using public registry — request CodeArtifact access at
# https://nubank.atlassian.net/servicedesk/customer/portal/131/group/679/create/9937
registry=https://registry.npmjs.org/
save-exact=true
